.profile {
  text-align: center;
  padding: 20px;
  background-color: #763333;
  color: #ffffff;
}

.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.profile h1 {
  font-size: 24px;
}
body {
  background-color: #aaa2a2;
}
footer {
  text-align: right;
}
